<tr id="<%= dom_id cartridge %>">
  <td>
    <%= cartridge.game.title %>
  </td>

  <td>
    <%= cartridge.code %>
  </td>

  <td>
    <%= cartridge.build %>
  </td>

  <td>
    <%= cartridge.revision %>
  </td>

  <td>
    <%= Cartridge.regions[cartridge.region] %>
  </td>

  <td>
    <%= cartridge.game_version %>
  </td>
</tr>
