<p style="color: green"><%= notice %></p>

<%= render @cartridge %>

<div>
  <%= link_to "Edit this cartridge", edit_cartridge_path(@cartridge) %> |
  <%= link_to "Back to cartridges", cartridges_path %>

  <%= button_to "Destroy this cartridge", @cartridge, method: :delete %>
</div>
