<div id="<%= dom_id cartridge %>">
  <p>
    <strong>Game:</strong>
    <%= cartridge.game_id %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= cartridge.code %>
  </p>

  <p>
    <strong>Build:</strong>
    <%= cartridge.build %>
  </p>

  <p>
    <strong>Revision:</strong>
    <%= cartridge.revision %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= cartridge.region %>
  </p>

  <p>
    <strong>Game version:</strong>
    <%= cartridge.game_version %>
  </p>

</div>
