<tr id="<%= dom_id cartridge %>">
  <td>
    <%= cartridge.id %>
  </td>

  <td>
    <%= link_to cartridge.game.title, admin_game_path(cartridge.game) %>
  </td>

  <td>
    <%= cartridge.code %>
  </td>

  <td>
    <%= cartridge.build %>
  </td>

  <td>
    <%= cartridge.revision %>
  </td>

  <td>
    <%= Cartridge.regions[cartridge.region] %>
  </td>

  <td>
    <%= cartridge.game_version %>
  </td>

  <td>
    <%= link_to "Edit", edit_admin_cartridge_path(cartridge) %>
  </td>
</tr>
