<tr id="<%= dom_id game %>">
  <td><%= game.id %></td>
  <td><%= link_to game.title, admin_game_path(game) %></td>
  <td><%= game.cartridges.count %></td>
  <td>
    <%= link_to "Edit", edit_admin_game_path(game) %>
  </td>
</tr>
