<p style="color: green"><%= notice %></p>

<h1><%= @game.title %></h1>

<table class="table table-hover" id="cartridges">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Code</th>
      <th scope="col">Build</th>
      <th scope="col">Revision</th>
      <th scope="col">Region</th>
      <th scope="col">Game Version</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <% @game.cartridges.each do |cartridge| %>
      <%= render cartridge, show_game: false %>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to "Edit this game", edit_admin_game_path(@game) %> |
  <%= link_to "Back to games", admin_games_path %>
</div>
